<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Razão Social</th>
                <th>CNPJ</th>
                <th>Logradouro</th>
                <th>Complemento</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>CEP</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Responsável Técnico</th>
                <th>Ação</th>
            </tr>
        </thead>
                    
        <tr><td></td></tr>
            {% for item in datas %}
        <tr>
            <td>{{item[0]}}</td>
           
</body>
</html>