<!DOCTYPE html>
<html lang="pt-br">

    </head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for ('static', filename='main.css')}}">
        <link rel="stylesheet" href="{{ url_for ('static', filename='button.css')}}">
        <link rel="stylesheet" href="{{ url_for ('static', filename='modal.css')}}">
        <link rel="stylesheet" href="{{ url_for ('static', filename='records.css')}}">
    </head>

    <body>
        <header>
            <h1 class="header-title">SISTEMA DE CLÍNICAS</h1>
        </header>

        <main>      
            <nav>             
                <form action="/" method="POST">
                    <button class="button blue mobile">Clínicas</button>
                </form>

                <form action="/dentistas" method="POST">
                    <button class="button blue mobile">Dentistas</button>
                </form>

                <form action="/pacientes" method="POST">
                    <button class="button blue mobile">Pacientes</button>
                </form>

                <form action="/consultas" method="POST">
                    <button class="button blue mobile">Consultas</button>
                </form>
            </nav>
           
            <h2>Cadastrar Nova Consulta</h2>     
                 
            <p>Para efetuar o cadastro de uma nova consulta preencha todos os campos abaixo:</p>
        
            <form action="gravarconsulta" method="POST">
                <fieldset class="modal-form">
                    <div>
                        <label>Dada da consulta:</label>
                        <input type="text" name="dataconsulta" id="dataconsulta" required/>
                    </div>
            
                    <div>
                        <label>Horário da consulta:</label>
                        <input type="text" name="horarioconsulta" id="horarioconsulta" required/>
                    </div>
                
                    <div>
                        <label>Atividades realizadas:</label>
                        <input type="text" name="atividades" id="atividades" required/>
                    </div>       
            
                    <div>   
                        <label>Observações:</label>
                        <input type="text" name="observacoes" id="observacoes" required/>
                    </div>
            
                    <div>
                        <label>Razao social da clínica: Bairro:</label>
                        <input type="text" name="razaosocial" id="razaosocial" required/>
                    </div>
            
                    <div>
                        <label>Nome do dentista:</label>
                        <input type="text" name="nomedentista" id="nomedentista" required/>
                    </div>

                    <div>
                        <label>Nome do paciente:</label>
                        <input type="text" name="nomepaciente" id="nomepaciente" required/>
                    </div>
                    
                    <div>
                        <input type="submit" class="form-submit-button" value="Enviar"/>
                    </div>
                            
                </fieldset>
            </form>

                                            
            <div id="msg" name="'msg">
                <table>
                    <tr>
                        <td>{{msg}}</td>
                    </tr>
                </table>
            </div>  
           
            <nav>
                <form action="/retornarconsulta" method="POST">
                    <button class="voltar">Voltar</button>
                </form>
            </nav>
        </main>
    </body>
</html>

